{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>ALex With Reviews</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
  <div class="col-8 justify-content-center">
  <form class="form-horizontal">
    <fieldset>
      <legend>Post An Item For Review</legend>
      {{form.hidden_tag()}}

      <div class="form-group">
        {{form.username.label(class="col-lg-2 control-label", for="inputUsername")}}
        <div class="col-lg-10">
            {{form.username(class="form-control" , id="inputUsername")}}
        </div>
      </div>
      
      <div class="form-group">
        {{form.password.label(class="col-lg-2 control-label")}}
        <div class="col-lg-10">
            {{form.password(class="form-control")}}
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            {{form.submit(class="btn btn-primary")}}
        </div>
      </div>
    </fieldset>
  </form>
  </div>

{% endblock content %}